<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- Bean local definition applicable to a single bean. NOTE: destroy-method 
		is applicaple only if scope is singleton it is not applicable for any other 
		Bean scope(prototype etc) -->

	<bean id="myHundaiCar" class="com.learntocode.springcore.beanscopedemo.impl.HundaiCar"
		init-method="customInit" destroy-method="customDestroy" />


</beans>
