<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- A simple Dependent bean definition -->
	<bean id="myQuotesService"
		class="com.learntocode.springcore.setterinjection.impl.MotivationalQuotes">
		<!-- collaborators and configuration for this bean go here -->
	</bean>

	<!-- Bean defination of Physicsteacher class which depends on MotivationalQuotes -->
	<bean id="teacherService"
		class="com.learntocode.springcore.setterinjection.impl.PhysicsTeacher">

		<!-- Setter injection using ref attribute to refer dependent class-.It 
			will set the "quotesService" in class PhysicsTeacher with "MotivationalQuotes" 
			bean using setter method -->
		<property name="quotesService" ref="myQuotesService" />

		<!-- injectcing literal values using setter injection-->
		<property name="name" value="Abhijit"/>
		<property name="age" value="27" />
		<property name="city" value="Mumbai"  />
	</bean>

</beans>